body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px;
}
.ui-datatable tbody td{
	padding:12px 10px ;
}

#newWorkForm .ui-widget-content{
	border:none;
}
#newWorkForm{
	height:100%;
	position: relative;
}

#newWorkForm .customForm_Footer{
	position: absolute;
    bottom: 0;
    height: 55px;
    text-align: right;
}

#newWorkForm .ui-panelgrid{
	height: calc(100% - 55px);
	overflow:auto;
}

#editform .ui-widget-content{
	border:none;
}
#editform .ui-panelgrid-cell{
	padding:10px 10px;
}
.btn, .btn-sidebar {
	margin-left: auto;
	margin-left: auto !important;
	background: #5d5dd5 !important;
	border: none !important;
	color: white !important;
	text-shadow: none !important;
	border-radius: 30px !important;
	padding: 3px !important;
}

.display-panels{
	display:none
}
.display-panels.active{
	display:block;
}

.current{
	color:#5d5dd5 !important;
	background:#ebecf0;
}



#nav-bar {
	align-items: center;
    font-size: 14px;
    z-index: 1;
	padding: 0 10px;
	height: 56px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	box-shadow: 0px 0px 5px -2px black;
	align-items: center;
	font-size: 14px;
	background: white;
}

#user-img {
	width: 24px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 8px;
}

#profile-tab {
	text-decoration: none;
	color: white;
	margin-left: auto;
	background: #5d5dd5;
	padding: 8px 15px;
	border-radius: 20px;
	cursor: pointer;
	position:relative;
}

#profile-tab:hover {
	box-shadow: 3px 3px aquamarine;
}
.ui-shadow{
	
}
#profile-tab-menu{
	position:absolute;
	right:50%;
	top:100%;
	width:200px;
	padding:10px;
	background:white;
	text-align:center;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
}

#main-wrapper {
	height: calc(100vh - 56px);
	margin-top: 56px;
}

#nav-panel {
	height: 100%;
	background: rgb(244, 245, 247);
}
#main-panel{
	height:100%;
	overflow:auto;
}

.information-panel{
	text-align:center;
}
.information-panel img{
	width:350px;
	height:310px;
}

.type{
	width:100px;
	text-align:center;
}
.type-img{
	width: 30px;
    margin: auto;
}
#menu-options, #menu-options-sidebar {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
}

#menu-options li {
	padding: 3px 4px;
}

#menu-options li a ,#menu-options-sidebar li a{
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: black;
}

#selected {
	color: blue;
}


    
#menu-options li a:hover ,#menu-options-sidebar li a:hover{
	background: #ebecf0;
}

.menu-option .ui-g-10,.menu-option .ui-g-2{
	padding:0;
}
.menu-option .ui-g-2{
	text-align:center;
	margin:auto;
	
}
.menu-option p{
	width:20px;
	height:20px;
	border-radius:50%;
	margin:0 auto;
	padding:0;
	background:white;
}

.singleLine {
	white-space: nowrap;
	text-overflow: ellipsis;
}

#menubutton {
	display: none;
}

#banner {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

#banner_wrapper, #login_wrapper ,#wrapper{
	position: relative;
	height: 100vh;
}

#banner_wrapper {
	background: #5d5dd5;
}

#login_form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#wrapper_centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.comment-layout{
	background: #bed8ff;
    padding: 10px 10px;
    margin-bottom: 5px;
    color: black;
    border-radius: 12px;
}
.comment-layout a ,#comments-panel a{
	color: #5d5dd5d1;
	text-decoration: none;
}
.comment-layout a:hover ,#comments-panel a:hover{
	color: #5d5dd5;
	text-decoration: underline;
}



@media only screen and (max-width:640px) {
	#nav-panel {
		display: none;
	}
	#menubutton {
		display: inline-block;
	}
	.btn {
		display: none;
	}
	#banner_wrapper, #login_wrapper {
		height: 50vh;
	}
	#login_form {
		position: absolute;
		top: 0;
		transform: translate(-50%, 0);
	}
	#banner {
		width: 200px;
	}
}